#singleplayer {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -175px;
}

#singleplayer #input-box input {
  font-size: 34px;
  background: none;
  border: none;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  background-color: #363636;
}

#singleplayer #input-box input:focus {
  outline: none;
}
