<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
  <title>Prototype</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div id="function-list">
    {% for func in funcs %}
      <p>{{ func }}</p>
    {% endfor %}
  </div>
  <input type="text" placeholder="Function" id="function-field">
  <button id="send-function-btn">Send</button>
</body>
<script src="../static/main.js"></script>
</html>
