$primary-background: rgb(38, 38, 38);
$secondary-background: rgb(54, 54, 54);

$blue: rgb(105, 155, 208);
$orange: rgb(223, 130, 68);
$green: rgb(126, 170, 85);
$white: rgb(234, 234, 234);

$debug-border: 1px solid white;
