$primary-background-color: rgb(38, 38, 38);
$secondary-background-color: rgb(54, 54, 54);

$accent-color1: rgb(105, 155, 208);
$accent-color1: rgb(223, 130, 68);
$accent-color1: rgb(126, 170, 85);

$debug-border: 1px solid white;
