@import "globals";

#gamemode-select {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -250px;
  padding: 5px;

  .child-container {
    background-color: $secondary-background;
    font-size: 18px;
    display: flex;
    margin: 10px;
    padding: 5px;
    :hover {
      cursor: pointer;
    }
  }
}
