@import "globals";

* {
  font-family: "Impact", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-background;
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.white {
  color: $white;
}
