@import "globals";

#multiplayer-select {
  background-color: $secondary-background;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -260px;
  padding: 5px;

  #child-container {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    input {
      margin-left: 5px;
      font-size: 34px;
      background: none;
      border: none;
      width: 40%;
    }

    input:focus {
      outline: none;
    }
  }
}
