@import "globals";

#navbar {
  nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-item {
    padding: 15px;
  }

  #nav-title {
    font-size: 1.5rem;
  }
  
  #nav-info {
    margin-left: auto;
    font-size: 0.75rem;
  }
}
